.layout {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  .total-price {
    text-align: right;
    margin-right: 50px;
    margin-bottom: 20px;
    font-size: 20px;
  }

  @media (max-width: 465px) {
    .products {
      padding-left: 10%;
    }
  }

  @media (max-width: 416px) {
    .products {
      padding-left: 0%;
      padding-right: 10%;
    }
  }

  @media (max-width: 360px) {
    .products{
      padding-right: 10%;
      padding-left: 0%;
    }
  }
  /* .products{
    margin-top: 6%;
  }
   */
  /* @media (max-width: 645px) {
    .products{
      margin-top: 15%;
    }
  }
  @media (max-width: 490px) {
    .products{
      margin-top: 15%;
      justify-content: center;
    }
  }
  @media (max-width: 480px) {
    .products{
      margin-top: 20%;
      justify-content: center;
    }
  }
  @media (max-width: 410px) {
    .products{
      margin-top: 30%;
      justify-content: center;
    }
  }
  @media (max-width: 360px) {
    .products{
      margin-top: 60%;
      justify-content: center;
    }
  } */

  /* @media (max-width: 320px) {
    .products{
      margin-top: 75%;
      justify-content: center;
    }
  } */